<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcomee</title>
</head>
<body>
<h1>This is Dressika Store and yet we would add products in here.There are {{ count }} Books availabel at the store.</h1>
</body>
</html>